body{
    background-color: #212529;
    font-family: 'Roboto', sans-serif;
}

body::-webkit-scrollbar{
    display: none;
}

.my-toggler{
    background-color: white;
}

.my-login{
    width: 30px;
    height: 30px;
    background-image: url(assets/imgs/movies/foto\ paolo\ pellegrino.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.my-account{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: blue;
    background-image: url(assets/imgs/movies/foto\ paolo\ pellegrino.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.my-logo{
    width: 90px;
    height: 50px;
    background-image: url(assets/imgs/Netflix_Logo_RGB.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}

.mynav-list>a{
    opacity: 0.5;
}

.mynav-list>a:hover {
    opacity: 1;
    transition: opacity 0.3s linear;
}

.dropdown-menu[data-bs-popper] {
    left: -250px;
}

.my-grid{
    width: 30px;
    height: 30px;
    opacity: 0.4;
}


.carousel-item .col{
    transition: all .3s ease-in-out;
}

.carousel-item .col:hover {
    scale: 1.1;
}


.carousel-inner{
    overflow: visible;
}


.position-absolute{
    left: -150px;
}

.carousel-control-next {
    width: 25px;
    height: 25px;
    right: 30px;
    top: 30px;
    border-radius: 50%;
    opacity: 0.7;
}

.carousel-control-prev {
    width: 25px;
    height: 25px;
    left: 60px;
    opacity: 0.7;
    top:30px;
    border-radius: 50%;
}

.my-footer-size{
    font-size: 10px;
}

.my-play{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: lightcyan;
    border: 1px solids black;
    transform: translate(60px, -50px);
    opacity: 0;

}

.carousel-item .col:hover .my-play{
  transition: .5s ease-in-out;
   opacity: 1;
}

  
.my-icona{
    color: black;
    font-size: 20px;
    
}

.my-logo-footer{
    background: #b1060f;
    height: 100px;
    width: 30px;
    position: relative;
}

.my-logo-footer::before{
    background: #b1060f;
    height: 100px;
    width: 30px;
    position: absolute;
    content: '';
    left: 50px;
}


.my-span-footer{
    position: absolute;
    height: 100px;
    width: 30px;
    background: #e50913;
    left: 24px;
    transform: skew(20deg);
    box-shadow: 0 0 10px -4px #222;
}

.my-row{
    transform: translateX(80px);
}

  